*{
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
    text-align: center;
}

h1{
    font-family: 'Sacramento', cursive;
    color: #F99DBC;
    font-size: 650%;
    font-weight: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #ff9abc;
    font-weight: lighter;
}

h4{
    color: #f07aa1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 1.5;
}

.main-content{
    width: 60%;
    margin: 10% auto 10% auto;
}

/*START NAVBAR*/
.navbar {
    width: 100%;
    background-color:#1E1E1E;
    overflow: auto;
    position: fixed;
    top: 0;
}

.navbar a {
    float: left;
    padding: 1.5%;
    color: #F99DBC;
    text-decoration: none;
    font-size: 110%;
    width: 25%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
  
.navbar a:hover {
    text-shadow: 4px 4px 5px #F99DBC;
}
  
.navbar a:active {
    background-color: #F99DBC;
    color: #1E1E1E;
}
/*END NAVBAR*/

/*START ABOUT ME*/
h1.lara{
    margin-top: 3%;
    margin-bottom: 20%;
}


.skill-row{
    margin: auto auto 7% auto;
    text-align: left;
}

.skill-img{
    float: left;
    margin-right: 20px;
    width:15%;
}

.debugging-img{
    float: left;
}
/*END ABOUT ME*/

/*START FORMATION*/
.study{
    width: 60%;
    margin: 10% auto 10% auto;
}

.container{
    width: 55%;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #1E1E1E;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #F99DBC;
    margin: auto;
}

.programs-img{
    display: flex;
    flex-direction: row;
}

div.programs-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 15px #1E1E1E;
    margin-right: 50px;
}

.overlay1 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.html:hover .overlay1 {
    opacity: 0.9;
}

.text1 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay2 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.css:hover .overlay2 {
    opacity: 0.9;
}

.text2{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay3 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.js:hover .overlay3 {
    opacity: 0.9;
}

.text3 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay4 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.bs:hover .overlay4 {
    opacity: 0.9;
}

.text4 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay5 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.ajax:hover .overlay5 {
    opacity: 0.9;
}

.text5{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay6 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.json:hover .overlay6 {
    opacity: 0.9;
}

.text6 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay7 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.react:hover .overlay7{
    opacity: 0.9;
}

.text7{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay8 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.sql:hover .overlay8 {
    opacity: 0.9;
}

.text8 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay9 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.angular:hover .overlay9 {
    opacity: 0.9;
}

.text9{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay10 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.azure:hover .overlay10{
    opacity: 0.9;
}

.text10{
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay11{
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.linux:hover .overlay11{
    opacity: 0.9;
}

.text11 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay12 {
    position: relative;
    bottom: 110px;
    width: 100px;
    height: 110px;
    opacity: 0;
    transition: .5s ease;
    background-color: #F99DBC;
    border-radius: 25px;
}

.python:hover .overlay12 {
    opacity: 0.9;
}

.text12 {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

h1.courses{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 800%;
}

.cert-title{
    margin-bottom: 5%;
}

.cert-img{
    float: left;
    margin-right: 2%;
    width:20%;
}

.cert-link{
    color: #f07aa1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

.cert-row{
    margin: auto auto 7% auto;
    text-align: left;
}
/*END FORMATION*/

/*START FOOTER*/
footer{
    background-color: #ff9abc;
    margin-bottom: 0;
    padding: 0.2%;
}
footer p{
    color: #1E1E1E;
}
/*END FOOTER*/


