@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --base-color: #2F201F;
    --dark-base: #261B1B;

    --fancy-text: "Neuton", serif;
    --base-text: "Comfortaa", sans-serif;
}

body{
    background-color: var(--base-color);
    font-family: var(--base-text);
    font-weight: 400;
}