body{
    background-color: #1E1E1E;
    margin: 0;
    padding: 55px 103px;
    overflow-x: hidden;
}

.pink{
    color: #ffacc9;
}

.white{
    color: #E4E4E4;
}

.fancy-text{
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ffacc9;
}

.normal-text{
    font-family: "Montserrat", sans-serif;
    color: #E4E4E4;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
}